html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  background: #2a394f;
}
.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.logo .titleLogo {
  display: flex;
  align-items: center;
}
.logo .titleLogo h2 {
  /* text-decoration: none; */
  margin-left: 10px;
}
.logo .titleLogo h2 a {
  color: white;
  text-decoration: none;
}
.logo .titleLogo img {
  width: 100px;
  height: 60px;
}
.logo .bars {
  display: none;
  color: #dc9f6d;
  cursor: pointer;
}

.menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
}

.menu ul li {
  margin-left: 30px;
}
.menu ul li a:hover {
  color: #dc9f6d;
}
.sns ul li a:hover {
  color: #dc9f6d;
}
.menu ul li a {
  color: white;
  text-decoration: none;
  font-size: 25px;
}

.sns ul {
  padding: 0;
  display: flex;
  list-style: none;
}
.sns li a {
  margin-left: 20px;
  text-decoration: none;
  font-size: 20px;
  color: white;
}

@media (max-width: 870px) {
  header {
    display: flex;
    flex-direction: column;
  }
  .logo {
    display: flex;
    justify-content: space-between;
    width: 95vw;
  }
  .menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
  }
  .logo .bars {
    right: 1;
    display: inline;
  }
  .menu ul li {
    margin: 10px 0px;
  }
  .menu ul li:hover {
    background-color: #dc9f6d;
    text-align: center;
    align-items: center;
    width: 95vw;
    height: 30px;
    border-radius: 5px;
  }
  .menu ul li a:hover {
    color: white;
  }
  .sns ul {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
